* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

/* Fonts and Colors */

.hero {
    background-color: #1f2937;
}

.button {
    background-color: #3882f6;
}

.button:hover{
    background-color: #3e72c6
}

.logo {
    font-size: 24px;
}

.logo,
.main-text {
    color: #f9faf8;
}

.main .main-text {
    font-size: 48px;
    font-weight: bolder;
}

.links a,
.text div,
.text a {
    color: #e5e7eb;
}

.text div,
.text a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Alignment */
body,
.hero,
.header, 
.header ul,
.main, 
.hero .text {
    display: flex;
}

body,
.hero,
.hero .text {
    flex-direction: column;
}

/* Hero */
.header {
    align-items: center;
    justify-content: space-around;
}

.main {
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.main .text {
    width: 500px;
    gap: 15px;
}

.header {
    padding-block: 20px;
}

.button {
    width: fit-content;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px;
}

/* Products */


/* Header links and hero's image */

.header ul {
    list-style-type: none;
    gap: 20px;
}

.hero a {
    text-decoration: none;
}

.main img {
    max-width: 400px;
}
