* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

/* Fonts and Colors */

.hero {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
}

.logo,
.main-text {
    color: #f9faf8;
}

.main .main-text {
    font-size: 48px;
    font-weight: bolder;
}

.links a,
.text div,
.text a {
    color: #e5e7eb;
}

.text div,
.text a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Alignment */
body,
.hero,
.header, 
.header ul,
.main {
    display: flex;
}

body,
.hero {
    flex-direction: column;
}

.header {
    align-items: center;
    justify-content: space-around;
}

.main {
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.main .text {
    width: 500px;
}

.header {
    padding-block: 20px;
}


/* Header links and hero's image */

.header ul {
    list-style-type: none;
    gap: 20px;
}

.header a {
    text-decoration: none;
}

.main img {
    max-width: 400px;
}
